POSTGRES_DATABASE='database_name'
POSTGRES_USER="username"
POSTGRES_PASSWORD=password
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
REDIS_PORT='6379'
REDIS_HOST='localhost'

BINANCE_WALLET_ADDRESS='0x7Cac'

# Variable Name is {exchange}_API_KEY_{strategy_id}, default 0 for 'main overall portfolio'
BINANCE_API_KEY_0='7SJWfeyd2BPFjZkdnvz'
BINANCE_API_SECRET_0='p'

BINANCE_API_KEY_1='LuBlXmzDXbNC'
BINANCE_API_SECRET_1='p'

ASTER_API_KEY_0='23c4'
ASTER_API_SECRET_0='0a'

